/* SHARED FONTS */

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('../fonts/montserrat-v23-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Shared Styling */

:root {
    --fontPrimaryColor: #000000;
    --fontSecondaryColor: #687277;
    --fontThirdColor: #687277d0;
}

html {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    letter-spacing: 0.009rem;
}

body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    line-height: 1.83334;
}

a {
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: #000000;
    font-weight: 700;
}

.pageFlexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 813px;
    min-width: 340px;
    margin: 2rem 1rem 1rem 1rem;

}

.bannerImage {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 11px;
}

nav {
    width: 91.39%;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--fontSecondaryColor);
    margin-top: 2rem;
}

nav a {
    position: relative;
    left: -28px;
    color: var(--fontSecondaryColor);
    text-decoration: none;
    vertical-align: 15%;
    visibility: hidden;
    opacity: 0;
}

.checkbox {
    position: relative;
    opacity: 0;
    z-index: 0;
}

.checkbox:focus-visible~.menuBurger {
    outline: solid;
    outline-color: #000000;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox:checked~.menuBurger {
    transform: rotateZ(90deg);
}

.menuBurger {
    width: auto;
    height: auto;
    position: relative;
    left: -28px;
    z-index: -1;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.navItemHidden1 {
    transition: opacity ease-in-out 0.25s;
}

.navItemHidden2 {
    transition: opacity ease-in-out 0.35s;
}

.navItemHidden3 {
    transition: opacity ease-in-out 0.45s;
}

.navItemHidden4 {
    transition: opacity ease-in-out 0.55s;
}

.checkbox:checked~.navItemHidden1 {
    visibility: initial;
    opacity: 1;
}

.checkbox:checked~.navItemHidden2 {
    visibility: initial;
    opacity: 1;
}

.checkbox:checked~.navItemHidden3 {
    visibility: initial;
    opacity: 1;
}

.checkbox:checked~.navItemHidden4 {
    visibility: initial;
    opacity: 1;
}

main {
    width: 91.39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;
}

.sr-only {
    position: absolute;
    margin: -1px;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.header {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.headerNative {
    color: var(--fontSecondaryColor)
}

.headerTrans {
    color: var(--fontThirdColor);
}

.bodyCopy {
    font-size: 1.8rem;
    color: var(--fontPrimaryColor);
}

.bodyBold {
    font-weight: 700;
}

.bodyGray {
    font-weight: 600;
    color: var(--fontSecondaryColor);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.contactsBackground {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    background-color: #9BAAB1;
    border-radius: 1.1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactsFlexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 91.39%;
    margin-top: 1.5rem;
}

.contactHeader {
    font-size: 1.8rem;
    color: var(--fontPrimaryColor);
    text-transform: uppercase;
}

.contactDetailsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contactIcons {
    fill: currentColor;
    color: var(--fontPrimaryColor);
    width: 16px;
    height: 16px;
}

.addressLink {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--fontPrimaryColor);
    vertical-align: 15%;
}

.footerLegalWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

.footerLegal {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--fontSecondaryColor);
}

/*Responsive between 644px and 810px */
@media(max-width:810px) {
    .pageFlexWrapper {
        margin-top: clamp(1rem, 2.2vw, 2rem);
    }

    .header {
        font-size: clamp(2.1rem, 2.07vw + 1.324rem, 3rem);
    }

    .bodyCopy {
        font-size: clamp(1.4rem, 0.92vw + 1.055rem, 1.8rem);
    }
}

@media(max-width:644px) {
    .contactsFlexWrapper {
        width: 80%;
        gap: 0;
        margin-top: 1rem;
    }

    .contactDetailsWrapper {
        justify-content: space-around;
    }



    .phoneNumber {
        flex-basis: 40%;

    }

    .emailAddress {
        flex-basis: 60%;
        text-align: center;
    }

    .postalAddress {
        flex-basis: 100%;
        text-align: center;

    }

}

@media(max-width:500px) {
    .contactsFlexWrapper {
        width: 95%;
    }

}

@media(max-width:450px) {
    .footerLegalWrapper {
        width: 95%;
    }
}

@media(max-width:405px) {
    .contactHeader {
        font-size: 1.7rem;

    }

    .contactIcons {
        width: 14px;
        height: 14px;
    }

    .addressLink {
        font-size: 1rem;
    }

    .footerLegal {
        font-size: 1rem;
    }

}